<?xml version='1.0' encoding='utf-8'?>
<widget xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets" id="com.netdevsoftware.ShutTheBox" version="1.0.0">
  <name>Shut The Box</name>
  <description>Shut the Box, also called Canoga, Klackers, Zoltan Box, Batten Down the Hatches, or High Rollers, is a game of dice for one player.</description>
  <author email="support@netdevsoftware.com" href="http://netdevsoftware.com">NetDev Software Team</author>
  <content src="index.html" />
  <icon src="Icon.png" />
  <gap:splash src="splash.png" />
  <access origin="*" />
  
  <!-- Multi-Platform -->
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="landscape" />

  <!-- iOS Only -->
  <preference name="target-device" value="universal" />
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/ios/icon-60.png" width="60" height="60" />
    <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/ios/icon-76.png" width="76" height="76" />
    <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="res/ios/icon-40.png" width="40" height="40" />
    <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="res/ios/icon.png" width="57" height="57" />
    <icon src="res/ios/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/ios/icon-72.png" width="72" height="72" />
    <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/ios/icon-small.png" width="29" height="29" />
    <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/ios/icon-50.png" width="50" height="50" />
    <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
  </platform>

  <!-- Android Only -->
  <preference name="android-minSdkVersion" value="7" />
  <preference name="android-installLocation" value="auto" />
  <platform name="android">
    <icon src="res/android/icon-ldpi.png" density="ldpi" />
    <icon src="res/android/icon-mdpi.png" density="mdpi" />
    <icon src="res/android/icon-hdpi.png" density="hdpi" />
    <icon src="res/android/icon-xhdpi.png" density="xhdpi" />
    <icon src="res/android/icon-xxhdpi.png" density="xxhdpi" />
    <icon src="res/android/icon-xxxhdpi.png" density="xxxhdpi" />
  </platform>
  
</widget>
